{% extends "base.html" %}


{% block content %}

  <h1>Zadania</h1>
  {{ todos }}
  <ul>
    {% for todo in todos %}
      <li><a href="/todos/{{ todo.id }}/">{{ todo.title }}</a> </li>
    {% endfor %}
    </ul>

  <br>
  {% include "tasks/includes/todo_form.html" %}

  <br>

  <form method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="add">
  </form>

  <form method="POST" action="/contact/">
    {% csrf_token %}
    {{ contact_form }}
    <input type="submit" value="send">
  </form>


{% endblock %}