{% extends "base.html" %}


{% block content %}

    <h1>Zadania</h1>
    {{ todos }}
    <ul>
    {% for todo in todos %}
        <li><a href="/todos/{{ todo.id }}/">{{ todo.title }}</a> </li>
    {% endfor %}
    </ul>

    <br>

    <form method="POST">
        {% csrf_token %}
        <label for="title">Title</label>
        <input type="text" id="title" name="title">

        <label for="description">Description</label>
        <input type="text" id="description" name="description">

        <label for="done">Done</label>
        <input type="checkbox" id="done" name="done" value="true">

        <input type="submit" value="add">
    </form>
{% endblock %}