{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}

  <h1>Zadania</h1>
  <div class="row">
  <div class="col-lg-4">Szybko</div>
  <div class="col-lg-4">Tanio</div>
  <div class="col-lg-4">Dobrze</div>
  </div>
  <ul>
    {% for todo in todos %}
      <li class="col-3"><a href="/todos/{{ todo.id }}/">{{ todo.title }}</a> </li>
    {% endfor %}
    </ul>

  <br>
{#  {% include "tasks/includes/todo_form.html" %}#}

  <br>

  <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
{#    {% crispy form %}#}
    <input type="submit" value="add">
  </form>




{% endblock %}