<form method="POST">
  <label for="name">First name:</label>
  <input type="text" name="name" id="name"><br>
  
  <label for="lastname">Last name:</label>
  <input type="text" name="lastname" id="lastname"><br>
  
  
  <label for="female">female</label>
  <input type="radio" id="female" name="gender" value="female">
  <label for="male">male</label>
  <input type="radio" id="male" name="gender" value="male">
  
  <p>Hobby</p>
  <label for="sport">sport</label>
  <input type="checkbox" id="sport" name="hobby" value="sport">
  <label for="music">music</label>
  <input type="checkbox" id="music" name="hobby" value="music">
  
  <p></p>
  <label for="description">Bio</label>
  <textarea
    cols=80 rows=4 type="textbox" id="description" name="description"
    placeholder="Opis"></textarea>
  <br>
  <input type="submit" value="send">
</form>